extends ./parts/layout.pug
block main
    .tab-content
        .tab-pane.fade.active.in#Dashboard
            include ./tabs/dashboard.pug
        .tab-pane.fade#Accounts
            include ./tabs/accounts.pug
        .tab-pane.fade#Sessions
            include ./tabs/sessions.pug
        .tab-pane.fade#AccountDetailed
            include ./tabs/account_detailed.pug