.container-fluid.half-padding
    .template
        .row
            .col-md-8
                .container-fluid.half-padding
                    .row
                        .col-md-6
                            .panel.panel-danger
                                .panel-heading
                                    h3.panel-title Panel danger
                                .panel-body
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                        .col-md-6
                            .panel.panel-primary
                                .panel-heading
                                    h3.panel-title Panel primary
                                .panel-body
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .row
                        .col-md-6
                            .panel.panel-info
                                .panel-heading
                                    h3.panel-title Panel info
                                .panel-body
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                        .col-md-6
                            .panel.panel-success
                                .panel-heading
                                    h3.panel-title Panel success
                                .panel-body
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                    .row
                        .col-md-6
                            .panel.panel-warning
                                .panel-heading
                                    h3.panel-title Panel warning
                                .panel-body
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
                        .col-md-6
                            .panel.panel-default
                                .panel-heading
                                    h3.panel-title Panel default
                                .panel-body
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
block js
    script(src='libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js')
    script(src='libs/bootstrap-select/js/bootstrap-select.min.js')
    script(src='js/template/account_detailed.js')