table.datalist__table.table.datatable.display.table-hover(width='100%', data-products='idle')
    thead
        tr
            th.accounts__summoner_summonerLevel Level
            th.accounts__summoner_displayName Summoner Name
            th.accounts__summoner_summonerId Summoner ID
            th.accounts__wallet_ip BE
            th.accounts__wallet_rp RP
            th.accounts__chart Stat
            th.accounts__type Type