.login
    form.login__form(action='javascript:void(0);')
        //- .login__logo
        .volibot-logo.login__center
            .login__center
                .login__face_logo
            include ../../img/logo.svg
        .form-group
            input.form-control#login__hostname(type='text', placeholder='IP Address / Hostname', name='hostname')
        .form-group
            input.form-control#login__password(type='password', placeholder='Password')
        .form-group.login__action
            .checkbox.login__remember
                input#login__remember(type='checkbox', name='remember')
                label(for='login__remember') Remember IP Address / Hostname
            .login__submit
                button.btn.btn-default(type='submit') Connect

    form.login__form(action='javascript:void(0);', style='position: fixed; left: 10px; bottom: 0;')
        .checkbox.login__automatically
            input#login__automatically(type='checkbox', name='autologin')
            label(for='login__automatically') AutoLogin