.container-fluid.half-padding
    .datalist.pages.page_products.products.float-right
        .row
            .col-lg-9.col-md-9.col-sm-12.col-xs-12
                .panel.panel-info
                    .panel-heading
                        h3.panel-title Accounts
                    .panel-body
                        p You have #[span#account_count] accounts.
                        form.datalist-filter
                            .input-group.datalist-filter__search
                                input.form-control(type="text", placeholder="Find product")
                                span.input-group-btn
                                    button.btn.btn-default(type="button", role="button", data-toggle="collapse", data-target="#datalist-filter__detail", aria-controls="users__filter-detail", aria-expanded="false")
                                        .fa.fa-filter
                            .collapse#datalist-filter__detail
                                .container-fluid.datalist-filter__detail
                                    .row
                                        .col-lg-6.col-md-6.col-sm-12.col-xs-12.input-daterange
                                            .form-group
                                                .input-group
                                                    .input-group-addon
                                                        i.fa.fa-calendar-minus-o
                                                    input.form-control.datalist-filter__from(type="text", value="")
                                            .form-group
                                                .input-group
                                                    .input-group-addon
                                                        i.fa.fa-calendar-plus-o
                                                    input.form-control.datalist-filter__to(type="text", value="")
                                        .col-lg-6.col-md-6.col-sm-12.col-xs-12
                                            .form-group
                                                input.slider#datalist-filter__salary(type="text", name="", value="")
                                            .form-group
                                                .checkbox.checkbox-danger
                                                    input#datalist-filter__actives(type='checkbox')
                                                    label(for='datalist-filter__actives') Actives only
                        .datalist__result
                            .scrollable.scrollbar-macosx
                                .container-fluid
                                    include ./parts/accounts_table.pug
            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                include ./parts/add_accounts.pug
block js
    script(src='js/template/accounts.js')