.panel.panel-success
    .panel-heading
        h3.panel-title Overview
    .panel-body
        .ov-widget
            .ov-widget__list
                .ov-widget__item.ov-widget__item_tack
                    .ov-widget__value 1,087
                    .ov-widget__info
                        .ov-widget__title Total Accounts
                        .ov-widget__change
                            span
                            span.fa.fa-level-up
                            span.fa.fa-level-down
                            span.fa.fa-bolt
                            span.fa.fa-thumb-tack
                .ov-widget__item.ov-widget__item_inc
                    .ov-widget__value 770
                    .ov-widget__info
                        .ov-widget__title Finished Accounts
                        .ov-widget__change
                            span 77%
                .ov-widget__item.ov-widget__item_info
                    .ov-widget__value 130
                    .ov-widget__info
                        .ov-widget__title Active Accounts
                        .ov-widget__change
                            span 13%
                .ov-widget__item.ov-widget__item_warn
                    .ov-widget__value 100
                    .ov-widget__info
                        .ov-widget__title Idle Accounts
                        .ov-widget__change
                            span 10%
                .ov-widget__bar
                    .progress
                        .progress-bar.progress-bar-warning(role="progressbar", style="width: 10%")
                        .progress-bar.progress-bar-info(role="progressbar", style="width: 13%")
                        .progress-bar.progress-bar-success(role="progressbar", style="width: 77%")