.panel.panel-info.accounts-preview__selected
    .panel-heading
        h3.panel-title Account Actions
    .panel-body
        .accounts-preview__props
            .container-fluid
                .row
                    .form-group
                        .accounts-preview__prop
                            span.accounts-preview__selected_accounts
                .row
                    .form-group
                        button.btn.btn-primary.btn-block.accounts-preview__extract Extract to accounts.txt
                .row
                    .form-group
                        button.btn.btn-danger.btn-block.accounts-preview__remove Remove account