.panel.panel-warning
    .panel-heading
        h3.panel-title Add Accounts
    .st-widget
        .st-widget__wrap
            .st-widget__cont
                .container-fluid.add-accounts
                    .row
                        .form-group
                            .input-group
                                .input-group-addon
                                    i.fa.fa-user
                                input.form-control.AddAccount_Username(type="text", placeholder="Username")
                        .form-group
                            .input-group
                                .input-group-addon
                                    i.fa.fa-unlock-alt
                                input.form-control.AddAccount_Password(type="password", placeholder="Password")
                    //-include ./parts/account_settings.pug
                    .row
                        button.btn.btn-success.AddAccount_Submit Add Account