.panel.panel-info
    .panel-heading
        h3.panel-title Account Info
    .st-widget
        .st-widget__cont
            .accounts-preview__props#accounts-preview__no_selected
                .accounts-preview__prop
                    span No account selected
            .accounts-preview__props#accounts-preview__selected
                .accounts-preview__prop
                    span.accounts-preview__selected_accounts